<!DOCTYPE html>
<html>
  <head>
    <title>Scarab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous"></link>
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <% if current_user %>
    <script>
    window.currentUser = {
      "id": "<%= current_user.id %>",
      "username": "<%= current_user.username %>",
      "email": "<%= current_user.email %>",
    }
    </script>
    <% end %>
    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
      window.splash_0 = "<%= image_url('splash_0.jpg') %>";
      window.login_0 = "<%= image_url('login_0.jpg') %>";
      window.login_1 = "<%= image_url('login_1.jpg') %>";
      window.login_2 = "<%= image_url('login_2.jpg') %>";
      window.login_3 = "<%= image_url('login_3.jpg') %>";
      window.login_4 = "<%= image_url('login_4.jpg') %>";
      window.login_5 = "<%= image_url('login_5.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
    <div id="main"></div>
  </body>
</html>

